/* add your CSS here */

/* 
  I am going to use many different ways to accomplish the tasks set out in the project ruberic.
  Some examples may not be the most efficient way in production and may seem counter intuative,
  but I want to show the different ways to accomplish the same outcome.
*/


/* Remove margin and padding from the body before we start - we could use something like normalize but just a simple reset here will do. */
body {
  margin: 0;
  padding: 0;
}


/* 1) The text is italicized for the animal’s interesting fact. */
/* Just adding a simple class to anything that we want to be italic */
.italic {
  font-style: italic;
}


/* 2) The labels are bolded for the animal’s list items. */
/* We could add a class as above but I wanted to show a different approach by selecting children (not as specific selector but still works in our simple web page) */
li>span {
  font-weight: bold;
}


/* 3) The dots are removed from the animal's list items. */
/* we can be very specific her by targeting the id */
#animal-list {
  list-style-type: none;
}


/* 4) Uses border around animal’s name, image, and information (interesting fact, list items, and description). */
/* 5) Uses border around animal’s information. */
.border {
  border: solid 1px black;
}


/* 6) Uses spacing between animal’s name, image, and information. */
/* I've used different units like rem and px just to show that you COULD use different units. */
.name {
  margin-bottom: 1rem;
}
#image {
  margin-bottom: 12px;
}
#animal-list {
  margin-top: 1em;
  padding-left: 0em;;
}
#animal-list>li {
  padding: 4px 0;
}


/* Tidy a few things up so you can see the borders etc */
body>div {
  padding: 0 12px;
  margin: 12px;
}

.info {
  padding: 6px 12px;
}